.education {
    
}

.section-title {

}

.list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

.block {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
    max-width: 900px;
}

.block::after {
    content: "";
    width: 60%;
    height: 1px;
    border-bottom: 2px solid rgba(95, 95, 95, 0.7);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

