<section class="projects">
    <h1 class="section-title">Projectos</h1>
    <ul class="list">
        <li class="elements" *ngFor="let elem of dummy_data">
            <div class="edit-icons" *ngIf="edit">
                <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="close" *ngIf="false"> <i class="fa-solid fa-square-xmark"></i></button>      
            </div>
            <h2 class="poject-title">{{elem.titulo}}</h2>
            <p class="project-description">{{elem.descripcion}}</p>
            <a href="{{elem.github}}" class="project-link" target="_blank">Github Repository</a>
            <a *ngIf="elem.view" href="{{elem.view}}" class="project-link" target="_blank">Link del projecto</a>
            <div class="action-icons" *ngIf="false">
                <button class="cancel">Cancelar</button>
                <button class="action">Guardar</button>
            </div>
        </li>
        <div class="add"><span class="material-symbols-rounded">add</span></div>
    </ul>
</section>