.projects {

}

.elements {
    position: relative;
}

.add {
    height: 100px;
    text-align: center;
    max-width: 900px;
}

.add span {
    color: rgba(95, 95, 95, 0.7);
    font-size: 50px;
    background-color: rgba(95, 95, 95, 0.1);
    border-radius: 50%;
}